@media (max-width: 600px) {

    .l__main {

        .l__container {

            .sobre {

                h1 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: .9rem;
                }
            }

            .list__links{
    
                span {
                    width: 90%;
                }
            }
        }
    }
}