* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(27, 25, 29);
}

.l__main {
  width: 100%;
}

.container, .list__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  width: 70%;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
}

.link {
  text-decoration: none;
  color: white;
}

p {
  background-color: transparent;
}

i {
  background-color: transparent;
}

.l__main {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.l__main .l__container .sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.l__main .l__container .sobre img {
  margin: 0 auto;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
}
.l__main .l__container .sobre h1 {
  text-align: center;
  margin: 0.3rem 0 0 0;
  font-size: 1rem;
}
.l__main .l__container .sobre .name__perfil {
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.8;
  line-height: 1.5rem;
}
.l__main .l__container .sobre .description {
  padding: 0 0.2rem;
  text-align: center;
  font-size: 0.8rem;
}
.l__main .l__container .list__links {
  width: 100%;
  margin-top: 1.4rem;
  gap: 1rem;
}
.l__main .l__container .list__links .link {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1f23;
  padding: 1rem;
  gap: 2rem;
  position: relative;
}
.l__main .l__container .list__links .link::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: 0px;
  width: 2%;
  height: 15px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
.l__main .l__container .list__links .link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  right: 0px;
  width: 2%;
  height: 15px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
.l__main .l__container .list__links .link:hover::after {
  width: calc(100% - 1px);
  height: 59px;
}
.l__main .l__container .list__links .link:hover::before {
  width: calc(100% - 1px);
  height: 59px;
}
.l__main .l__container .list__links .link__facebook i {
  margin-left: -1rem;
}
.l__main .l__container .list__links .link__facebook:hover {
  background-color: #4867aa;
}
.l__main .l__container .list__links .link__twitter i {
  margin-left: -2.5rem;
}
.l__main .l__container .list__links .link__twitter:hover {
  background-color: #5da9dd;
}
.l__main .l__container .list__links .link__linkedin i {
  margin-left: -1.9rem;
}
.l__main .l__container .list__links .link__linkedin:hover {
  background-color: #0077b5;
}
.l__main .l__container .list__links .link__github i {
  margin-left: -2.5rem;
}
.l__main .l__container .list__links .link__github:hover {
  background-color: #1b1f23;
}
.l__main .l__container .list__links .link--disabled {
  text-decoration: line-through;
  background-color: rgb(61, 61, 61);
}
.l__main .l__container .list__links .link--disabled i {
  margin-left: -1.8rem;
}

/*# sourceMappingURL=style.css.map */
